:root{
    --color-text:#f00;
}
body{
  background-color: #fff;
  margin: 0;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: #333;
}
body, button, input, select, textarea {
  font: 12px/1.6 tahoma,arial,sans-serif;
}
P {
  margin:0;
}
ul {
  padding-inline-start: 0px;
}
input {
  outline-offset: 0px;
}
img {
  vertical-align: middle;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.header-nav-wrap{
    margin-left: auto;
    margin-right: auto;
}
.header-sticky-content .normal-seach-content {
  margin-top: 0;
}
.header-sticky-content .function-icon {
  margin-top: 0;
}

@media only screen and (max-width: 960px) {
  body {
    min-width: 960px;
  }
  .header-nav-wrap{
    width: 960px;
  }
}

@media screen and (min-width: 1200px) and (max-width:1690px) {
  body {
    min-width: 1200px;
  }
  .header-nav-wrap{
    width: 1200px;
  }
}
@media screen and (min-width: 1690px) {
  body {
    min-width:  1690px;
  }
  .header-nav-wrap{
    width:  1690px;
  }
}